/*@define TotalLength: 40s;
@define TimingFunc: linear;
@define IterationCount: 1;
@define AnimationDelay: 0s;*/

.AddonLoadingRoot {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-image: url(file://{images}/custom_game/loading_screen/background_06.png);
}

#TitlePanel {
  horizontal-align: left;
  vertical-align: bottom;
  margin-bottom: 150px;
  margin-left: 100px;
  flow-children: right;
}

#AddonTitle {
  margin-bottom: -15px;
  vertical-align: center;
  text-transform: uppercase;
  font-size: 80px;
  color: #cccccc;
  text-shadow: 2px 2px 2px #000000;
}

/*-------------------------
Left Panel Backgrounds
-------------------------*/
.BM_Left_Backgrounds {
  horizontal-align: left;
  vertical-align: top;
  margin-top: 72px;
  margin-left: 21px;
}

#UpdatesPanel {
  horizontal-align: left;
  vertical-align: top;
  width: 430px;
  height: 380px;
  background-color: black;
  box-shadow: 0 0 8px 0 rgba(215, 138, 5, 0.75);
  opacity: 0.98;
  animation-name: fadeInUpdates;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
}

#LadderPanel {
  width: 250px;
  height: 680px;
  margin-left: 449px;
  opacity: 0.98;
  background-color: black;
  box-shadow: 0 0 8px 0 rgba(215, 138, 5, 0.75);
  animation-name: fadeInLadder;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
}

#BannerPanel {
  width: 430px;
  height: 280px;
  margin-top: 400px;
  opacity: 0.98;
  background-color: black;
  background-image: url(file://{images}/custom_game/loading_screen/banner.jpg);
  background-size: 100% 100%;
  box-shadow: 0 0 8px 0 rgba(215, 138, 5, 0.75);
  animation-name: fadeInBanner;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
}

/*-------------------------
Left Panel Items
-------------------------*/

.BM_Left_Items {
  horizontal-align: left;
  vertical-align: top;
  width: 675px;
  height: 700px;
  margin-top: 72px;
  margin-left: 21px;
}

#BM_Updates {
  horizontal-align: left;
  vertical-align: top;
  width: 404px;
  height: 380px;
  flow-children: down;
  animation-name: fadeInUpdates;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}

#UpdatesTitle {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  horizontal-align: left;
  padding-left: 15px;
  padding-top: 10px;
}

#UpdatesText {
  font-size: 15px;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

/*-- Ladder Panel --*/

#BM_Ladder {
  width: 250px;
  height: 680px;
  margin-left: 449px;
  flow-children: down;
  animation-name: fadeInLadder;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}

#LadderTitle {
  horizontal-align: left;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  padding-left: 15px;
  padding-top: 10px;
}

#LadderPlayerPanel {
  width: 250px;
  height: 605px;
  margin-top: 0px;
  flow-children: down;
}

#LadderText {
  vertical-align: bottom;
  margin-bottom: 15px;
  horizontal-align: center;
  font-size: 16px;
  color: #ffffff;
}

/*-- Banner Panel--*/

#BM_Banner {
  width: 430px;
  height: 280px;
  margin-top: 400px;
  opacity: 1;
  animation-name: fadeInBanner;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
}

/*-- Animation --*/
@keyframes 'fadeInUpdates' {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  85% {
    opacity: 0.98;
  }
}

@keyframes 'fadeInBanner' {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  85% {
    opacity: 0.98;
  }
}

@keyframes 'fadeInLadder' {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  85% {
    opacity: 0.98;
  }
}
/*#CustomBg
{

  margin-top: 20%;
    overflow: clip;
  pre-transform-scale2d: 1.0;
  animation-name: gamemode_anim;
  animation-delay: AnimationDelay;
  animation-duration: TotalLength;
  animation-timing-function: TimingFunc;
  animation-iteration-count: IterationCount;
}

#gamemode
{
  margin-left: 20%;
  margin-bottom: 0px;
  
}

@keyframes 'gamemode_anim'
{
  0%
  {
    transform: translateX( 0px ) translateY( 0px );
    pre-transform-scale2d: .8;
  }

  100%
  {
    transform: translateX( 0px ) translateY( -200px );
  }
}*/
