/* General layout
=================================================================*/
.MainHeroSelectionPanel {
  width: 100%;
  height: 100%;
}

.SelectionContainer {
  width: 77%;
  height: 50%;
  horizontal-align: left;
  background-color: #151515bb;
  flow-children: right;
  color: #ffffff;
  padding: 4% 2%;
  vertical-align: bottom;
  margin-bottom: 230px;
  margin-left: 1%;
}

.GameInfoContainer {
  width: 20%;
  height: 100%;
  horizontal-align: right;
  background-color: #151515bb;
  flow-children: down;
  color: #ffffff;
  padding: 2% 5%;
  vertical-align: center;
  margin: 1%;
}

#Map {
  width: 100%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #000000;
}

.MapLegacy {
  background-image: url("file://{images}/custom_game/pregame_screen/bm2_legacy_minimap.png");

}

.MapMexicanStandOff {
  background-image: url("file://{images}/custom_game/pregame_screen/bm2_mexican_standoff_minimap.png");
}

.MapInfoContainer {
  flow-children: down;
  horizontal-align: center;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

.StartGameContainer {
  flow-children: down;
  horizontal-align: center;
  vertical-align: bottom;
}

.StatusContainer {
  width: 77%;
  height: 26%;
  horizontal-align: left;
  background-color: #151515bb;
  flow-children: right;
  color: #ffffff;
  padding: 2%;
  vertical-align: top;
  margin: 1%;
}

/* Status */
#Status {
  horizontal-align: center;
  vertical-align: center;
  font-size: 40px;
}

/* Selection */
.SelectionTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.PerkSelectionTitle {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.CustomiseDescription {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

#FactionSelector {
  flow-children: down;
  text-align: center;
  width: 33%;
  font-size: 30px;
  horizontal-align: center;
  text-align: center;
}

#FactionIcon {
  flow-children: right;
  horizontal-align: center;
}

#PerkIcon {
  flow-children: right;
  horizontal-align: center;
}

.FactionPreview {
  width: 100%;
  height: 500px;
  margin-bottom: 5%;
}

.ColorSelector {
  flow-children: down;
  width: 33%;
  font-size: 30px;
  horizontal-align: center;
  text-align: center;
}

.ColorSelectorParent {
  flow-children: right;
  width: 100%;
}

.ColorSelectorContainer {
  flow-children: down;
  horizontal-align: center;
  width: 45%;
}

#CustomisationSelector {
  flow-children: down;
  width: 33%;
  height: 100%;
  font-size: 30px;
  horizontal-align: center;
  text-align: center;
}

#BuilderInfo {
  font-size: 15px;
  font-style: italic;
}
/* Timer
=================================================================*/
#PickTextPanel {
  horizontal-align: center;
}

#PickTimer {
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 35px;
  margin-bottom: 20px;
}

#TimerTxt {
  width: 60px;
  text-align: center;
  font-size: 44px;
  color: #fff;
  margin: 8px 0px 0px 2px;
}

/* 'Preview hero' button
=================================================================*/
.PreviewFactionButton {
  horizontal-align: center;
  background-size: 100% 100%;
  height: 60px;
  width: 60px;
  margin: 0px 10px 0px 10px;
  box-shadow: fill rgba(0, 0, 0, 0.4) 0px 0px 4px 4px;
}

.PreviewFactionButton:hover, .PreviewFactionButton:selected {
  box-shadow: fill rgba(215, 138, 5, 0.75) 0px 0px 4px 4px;
}

#SelectLingFaction {
  background-image: url("file://{images}/custom_game/pregame_screen/ling.png");
}

#SelectXoyaFaction {
  background-image: url("file://{images}/custom_game/pregame_screen/xoya.png");
}

#SelectRandomFaction {
  background-image: url("file://{images}/custom_game/pregame_screen/question_mark.png");
}

.RandomFactionPreview {
  width: 330px;
  height: 330px;
  margin-top: 20px;
  /* opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex"); */
  horizontal-align: center;
}

/* ''Perk Selection button
=================================================================*/
.PreviewPerkButton {
  horizontal-align: center;
  background-size: 100% 100%;
  height: 60px;
  width: 60px;
  margin: 0px 10px 0px 10px;
  box-shadow: fill rgba(0, 0, 0, 0.4) 0px 0px 4px 4px;
}

.PreviewPerkButton:hover, .PreviewPerkButton:selected {
  box-shadow: fill rgba(215, 138, 5, 0.75) 0px 0px 4px 4px;
}

#SelectRangePerk {
  background-image: url("file://{images}/custom_game/pregame_screen/perk_range.png");
}

#SelectDamagePerk {
  background-image: url("file://{images}/custom_game/pregame_screen/perk_damage.png");
}

#SelectHealthPerk {
  background-image: url("file://{images}/custom_game/pregame_screen/perk_health.png");
}


/* 'Select Color' button
=================================================================*/
.SelectColorButton {
  horizontal-align: center;
  background-size: 100% 100%;
  height: 50px;
  width: 100%;
  margin: 5px 1px 10px 1px;
  box-shadow: fill rgba(0, 0, 0, 0.4) 0px 0px 4px 4px;
}

.SelectColorButton:hover, .SelectColorButton:selected {
  box-shadow: fill rgba(215, 138, 5, 0.75) 0px 0px 4px 4px;
}

.disabledButtons,
.disabledButtons:hover, .disabledButtons:selected {
  box-shadow: none;
  opacity: 0.1;
}

.PreviewButtonSelected, .PreviewButtonSelected:hover, .PreviewButtonSelected:selected {
  opacity: 0.1;
  box-shadow: fill rgba(215, 138, 5, 0.1) 0px 0px 4px 4px;
}

.disabledPremiumButtons,
.disabledPremiumButtons:hover {
  box-shadow: none;
}

.lockedButtons Label {
  horizontal-align: center;
  vertical-align: center;
  text-align: center;
  font-size: 20px;
}

/* Premium Colours */
#SelectColorYellow {
  background-color: rgba(255, 255, 0, 1);
}

#SelectColorPink {
  background-color: rgba(255, 125, 200, 1);
}

#SelectColorLightBlue {
  background-color: rgba(0, 255, 255, 1);
}

#SelectColorMagenta {
  background-color: rgba(191, 0, 255, 1);
}

#SelectColorSilver {
  background-color: rgba(182, 192, 192, 1);
}

#SelectColorBlack {
  background-color: rgba(0, 0, 0, 1);
}

/* Normal Colours */
#SelectColorGold {
  background-color: rgba(215, 138, 5, 1);
}

#SelectColorRed {
  background-color: rgba(128, 0, 3, 1);
}

#SelectColorBlue {
  background-color: rgba(0, 156, 201, 1);
}

#SelectColorLightGreen {
  background-color: rgba(170, 255, 170, 1);
}

#SelectColorGreen {
  background-color: rgba(0, 200, 50, 1);
}

#SelectColorYellow {
  background-color: rgba(255, 255, 0, 1);
}

#SelectColorPink {
  background-color: rgba(255, 125, 200, 1);
}

#SelectColorLightBlue {
  background-color: rgba(0, 255, 255, 1);
}

#SelectColorPurple {
  background-color: rgba(191, 0, 255, 1);
}

#SelectColorSilver {
  background-color: rgba(225, 225, 225, 1);
}

#SelectColorBlack {
  background-color: rgba(0, 0, 0, 1);
}

#SelectColorRandom {
  background-color: rgba(92, 92, 92, 1);
}

.RandomFactionPreview {
  width: 330px;
  height: 330px;
  margin-top: 20px;
  /* opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex"); */
  horizontal-align: center;
}

/* 'Enter game' button
=================================================================*/
#ReadyBtn {
  horizontal-align: center;
  box-shadow: fill #00000066 0px 0px 4px 4px;
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#5aa15e),
    to(#87d69533)
  );
  /* background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex"); */
  background-size: 100% 100%;
  height: 55px;
  width: 420px;
}

#ReadyBtn.disabled,
#ReadyBtn.disabled:hover {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#9c9c9c),
    to(#d1d1d133)
  );
}

#ReadyBtn:hover {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#6fde75),
    to(#87d69533)
  );
}

#ReadyBtn Label {
  horizontal-align: center;
  vertical-align: center;
  color: #fff;
  font-size: 26px;
}

/* 'Confirm Hero' button
=================================================================*/
#ConfirmHeroButton {
  horizontal-align: center;
  vertical-align: bottom;
  box-shadow: fill #00000066 -4px -4px 8px 8px;
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#5aa15e),
    to(#87d69533)
  );
  /* background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex"); */
  background-size: 100% 100%;
  height: 55px;
  width: 100%;
}

#ConfirmHeroButton Label {
  horizontal-align: center;
  vertical-align: center;
  color: #fff;
  font-size: 26px;
}

#ConfirmHeroButton.disabled,
#ConfirmHeroButton.disabled:hover {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#9c9c9c),
    to(#d1d1d133)
  );
}
