.LeaderboardEntry {
	flow-children: right;
	margin-top: 10px;
	margin-bottom: 10px;
	horizontal-align: center;
}

.LeaderboardEntry Label {
	horizontal-align: center;
	font-size: 16px;
	margin: 3px;
	color: white;
}

.LeaderboardName {
	vertical-align: center;
	width: 110px;
}

.LeaderboardPoints {
	vertical-align: center;
	margin-right: 20px;
	horizontal-align: right;
	text-align: right;
}

#PlayerAvatar {
	width: 40px;
	height: 40px;
	z-index: 1;
	horizontal-align: center;
	margin-right: 10px;
	margin-left: 15px;
}
