.PickingPlayer {
	flow-children: down;
	margin-top: 20px;
	margin-bottom: 0px;
}

.PickingPlayer Label {
	horizontal-align: center;
	font-size: 18px;
	margin: 3px;
}

#HeroColorContainer {
	horizontal-align: center;
	z-index: 1;
	background-color: black;
	margin-bottom: 20px;
}

#HeroFactionAvatar {
	width: 100px;
	height: 100px;
	margin: 5px;
}

#HeroPanel {
	width: 150px;
	height: 150px;
	background-color: #f00;
	background-image: url('s2r://panorama/images/heroes/npc_dota_hero_keeper_of_the_light_png.vtex');
	background-size: 100% 110%;
	background-position: 0px -5px;
	transform: translateX( -420px );
	transition: transform 500ms cubic-bezier(.69,1.64,.7,.7) 0.0ms;
}